html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p, h1, h2 {
    margin: 5px;
}

body {
    font-family: Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: "tl tr"
                         "bl br";
    grid-gap: 1em;
}

/* unsure if this portion is necessary */
#top-left {
    grid-area: tl;
}

#top-right {
    grid-area: tr;
}

#bottom-left {
    grid-area: bl;
}

#bottom-right {
    grid-area: br;
}

div {
    padding: 1em;
    border: solid 2px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 0.5em;
    border: solid 2px black;
}

/* default height/width values for now */
#color-box {
    width: 100px;
    height: 60px;
}
